#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: white;
  color: black;
  width: 70px;
  height: 100px;
  border-radius: 6px;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.handWeapon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.weapon {
  background-color: white;
  color: darkred;
  width: 70px;
  height: 100px;
  border-radius: 6px;
}

.lastEnemy {
  background-color: white;
  color: black;
  width: 70px;
  height: 100px;
  border-radius: 6px;
}

.decision {
  display: flex;
  flex-direction: column;
}