#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: white;
  color: black;
  width: 70px;
  height: 100px;
  border-radius: 6px;
  font-size: 1.5rem;
}

.card.black {
  color: black;
}

.card.red {
  color: red;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.handWeapon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.decision {
  display: flex;
  flex-direction: column;
}

.hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hpDice {
  background-image: url('D20_icon.png');
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
}