#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardback {
  width: 64px;
  height: 94px;
  background-color: #14632e;
  border: 3px solid white;
  border-radius: 6px;
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 0,
      rgba(255, 255, 255, 0.15) 2px,
      transparent 2px,
      transparent 6px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.15) 0,
      rgba(255, 255, 255, 0.15) 2px,
      transparent 2px,
      transparent 6px
    );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.cardback.green {
  background-color: #14632e;
}

.cardback.red {
  background-color: #b81f1f;
}

.cardback.blue {
  background-color: #186bca;
}

.cardback.black {
  background-color: #353535;
}

.cardback.yellow {
  background-color: #a7a41d;
}

.card {
  background-color: white;
  color: black;
  width: 70px;
  height: 100px;
  border-radius: 6px;
  font-size: 1.5rem;
}

.card.black {
  color: black;
}

.card.red {
  color: red;
}

.card.active {
  outline: 4px solid gold;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.handWeapon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.decision {
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 594px;
  height: 94px;
}

.hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hpDice {
  background-image: url('D20_icon.png');
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
}

.tutorial {
  background-color: #242424;
  height: 50%;
  width:  50%;
  border-radius: 6px;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tutorialTitle {
  font-size: 2rem;
  background-color: #303030;
  border-radius: 6px;
  font-weight: 700;
}

.tutorialText {
  text-align: center;
  height: 60%;
  padding: 25px;
  overflow: auto;
}

.handWrapper {
  display: flex;
}

.gameover {
  background-color: #242424;
  height: 250px;
  width: 400px;
  border-radius: 6px;
}

.goHeader {
  background-color: #303030;
  font-size: 3rem;
  border-radius: 6px;
  font-weight: 700;
}

.goText {
  padding: 20px;
  font-size: 1.5rem;
}

.weaponHand {
  height: 170px;
  width: 600px;
  margin: auto;
}

.weaponStatus {
  background-color: #303030;
  font-weight: 700;
  font-size: 1.2rem;
  height: 30px;
}

.weaponCards {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.question {
  font-weight: 700;
  background-color: #303030;
}

.fightButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.settingsButton {
  background-color: #303030;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 0;
}

.settings {
  background-color: #242424;
  height: 50%;
  width:  50%;
  border-radius: 6px;
}