#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardback {
  width: 64px;
  height: 94px;
  background-color: #14632e;
  border: 3px solid white;
  border-radius: 6px;
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 0,
      rgba(255, 255, 255, 0.15) 2px,
      transparent 2px,
      transparent 6px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.15) 0,
      rgba(255, 255, 255, 0.15) 2px,
      transparent 2px,
      transparent 6px
    );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.card {
  background-color: white;
  color: black;
  width: 70px;
  height: 100px;
  border-radius: 6px;
  font-size: 1.5rem;
}

.card.black {
  color: black;
}

.card.red {
  color: red;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.handWeapon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.decision {
  display: flex;
  flex-direction: column;
}

.hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hpDice {
  background-image: url('D20_icon.png');
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
}

.tutorial {
  background-color: #242424;
  height: 50%;
  width:  50%;
  border-radius: 6px;
}

.tutorialOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorialTitle {
  font-size: 2rem;
  background-color: #303030;
  border-radius: 6px;
  font-weight: 700;
}

.tutorialText {
  text-align: center;
  height: 60%;
  padding: 25px;
  overflow: auto;
}

.handWrapper {
  display: flex;
}